.note-card{
    position: relative;
    font-family: roboto;
    background-color: rgb(109, 40, 67);
    height: 300px;
    width: 250px;
    max-width: 48%;
    

    border-radius: 10px;
    border-color: rgb(111, 132, 142);
    color: rgb(255, 255, 255);
  
    cursor: pointer;
    
}

.card-title{
    font-family: roboto;
    background-color: rgb(183, 61, 24);
    text-align: center;
    line-height: 28px;
    font-size: 17px;
    margin: 0px;

    height: 28px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    position: relative;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip; 
    
}

.title-mask{
    position: absolute;
    background-color: rgb(183, 61, 24);
    height: 28px;
    width: 14%;
    right: 0px;
    top: 0px;
}


.card-description{
    font-family: roboto;
    font-size: 16px;
    white-space: pre-wrap;
    font-weight: 300;
    padding: 0px;
    overflow-y: scroll;
    margin: 6px 6px 0px 6px;
    height: 242px;
    
}



.card-date{
    position: absolute;
    font-family: roboto;
    height: 22px;
    line-height: 22px;

    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 300;
    margin: 0;
    
    bottom: 1px;
    right: 10px;
    
}

.del-btn{
    background: none;
    width: 18px;
    filter: invert(1);
    position: absolute;
    top: 4px;
    right: 10px;
    opacity: 0.5;
    transition: 0.2s ease;
}

.share-option{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    bottom: 1px;
    left: 6px;
    height: 22px;

}

.share_icon{
    width: 16px;
    margin-right: 6px;
}

.shared-to-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2px;
    background-color: rgb(1, 159, 170);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: solid;
    border-width: 1px;
    border-color: rgb(176, 196, 196);
}
.shared-to-icon p{
    color: rgb(206, 206, 206);
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.owner-icon{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    top: 5px;
    left: 6px;
    background-color: rgb(223, 220, 1);
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.owner-icon p{
    color: rgb(255, 0, 0);
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}




.card-title:hover ~ .del-btn {
    opacity: 1;
}

.del-btn:hover{
    opacity: 1;
}

.card-description::-webkit-scrollbar{
    width: 6px;
}
.card-description::-webkit-scrollbar-track{
    background: transparent;
}
.card-description::-webkit-scrollbar-thumb{
    background-color: rgba(142, 61, 92, 0.5);
    border-radius: 3px;
    
}
.card-description::-webkit-scrollbar-thumb:hover{
    background-color: rgba(142, 61, 92, 1);

}



