
.message-box{
    background-color: rgb(6, 50, 62);
    text-align: center;
    padding: 0px 20px 0px 20px;
    font-family: roboto;
    font-weight: 500;
    color: rgb(4, 211, 4);

    animation: fade-out 0.7s forwards; /*fades for 1 second*/
    animation-delay: 2.3s;

}

@keyframes fade-out {

    from{opacity: 1;}
    to{opacity: 0;}
}

