.reset-page{
    height: 100vh;
    display: flex;
    width: 100%;
    background-color: rgb(13, 25, 29);
    font-family: roboto;
    /* background-color: rgb(113, 196, 224); */

}


.reset-box{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 150px;
    background-color: rgb(228, 228, 228);
    height: 500px;
    width: 330px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.235);
}

.center-all{
    position: relative;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.reset-text{
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;

}

.wrap-input-error{
    display: flex;
    flex-direction: column;
    gap: 0px;
}


.error-msg{
    color: red;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    line-height: 12px;
    height: 12px;
    padding-left: 25px;
    margin-top: 3px;

}

.login-redirection{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.login-redirection p{
    font-size: 14px;
    line-height: 14px;
    padding: 3px;
    margin: 6px;
}